<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.dao.RealEstateDAO">
 <!-- select문으로 추가 해주면 된다. -->
 	<select id="selectRealEstateById" resultType="com.quiz.lesson03.model.RealEstate">
 		SELECT 
 			`id`
			,`realtorId` 
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id`=#{id}
 			<!-- #{id} 유동적으로 바뀌는 값, 파라미터로 받아온 값 -->
 	</select>
 	
 	
 		<select id="selectRealEstateListByRentPrice" resultType="com.quiz.lesson03.model.RealEstate">
 		SELECT 
 			`id`
			,`realtorId` 
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			<![CDATA[
 			`rentPrice`<=#{rentPrice}
 			]]>
 		<!--    실제값   :   넘겨받은 값  -->
 	</select>
 	
 		<!-- parameterType : 2개 이상의 파라미터 가져온 경우 MAP으로 해주면 된다. -->
 		<select id="selectRealEstateListByAreaPrice" parameterType="map" resultType="com.quiz.lesson03.model.RealEstate">
 		SELECT 
 			`id`
			,`realtorId` 
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
			<![CDATA[
			`type`="매매" and
			`area`>=#{area} and
			`price`<=#{price}
			]]>
		ORDER BY
			`id` DESC
 	</select>
 	
 	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.model.RealEstate">
 		INSERT INTO `real_estate`
 		(
			`realtorId` 
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		
 		VALUES
 		(
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, #{rentPrice}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<!-- ###개는 무조건 쿼리오류<db>!!! -->
 	
 	<insert id="insertRealEstateAsField" parameterType="map">
	 	INSERT INTO `real_estate`
	 		(
				`realtorId` 
				,`address`
				,`area`
				,`type`
				,`price`
				,`rentPrice`
				,`createdAt`
				,`updatedAt`
	 		)
	 		
	 		VALUES
	 		(
	 			#{realtorId}
	 			, #{address}
	 			, #{area}
	 			, #{type}
	 			, #{price}
	 			, #{rentPrice}
	 			, NOW()
	 			, NOW()
	 		)
 	</insert>
 	
 	<update id="updateRealEstateById" parameterType="map">
 		UPDATE `real_estate`
 		SET
			`type` = #{type},
			`price` = #{price},
			`updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 		<!-- where절 안넣으면 모든행을 바꾼다. 꼭 넣어줘야 한다. -->
 	</update>
 	
 	
 	<delete id="deleteRealEstateById" parameterType="int">
		DELETE
		FROM 
			`real_estate`
		WHERE
			`id` = #{id} 		
 	</delete>
 	
 </mapper>