<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.quiz.lesson04.dao.SellerDAO">
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO `seller`
 		(
 		<!-- ID는 안넣는다!!! -->
		`nickname`,
		`profileImageUrl`,
		`temperature`,
		`createdAt`,
		`updatedAt`
 		)
 		
 		VALUES
 		(
 		#{nickname},
 		#{profileImageUrl},
 		#{temperature},
 		NOW(),
 		NOW()
 		)
 	</insert>
 	
 	<select id="selectLastSeller" resultType="com.quiz.lesson04.model.Seller">
 		SELECT 
	 		`id`,
			`nickname`,
			`profileImageUrl`,
			`temperature`,
			`createdAt`,
			`updatedAt`
 		FROM
 			`seller`
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 	
 		<!-- parameterType은 한개라도 명시해주는게 보기에 좋다. -->
 	 	<select id="selectSellerById" parameterType="int" resultType="com.quiz.lesson04.model.Seller">
 		SELECT 
	 		`id`,
			`nickname`,
			`profileImageUrl`,
			`temperature`,
			`createdAt`,
			`updatedAt`
 		FROM
 			`seller`
 			<!-- id가 넘어왔기 때문에 where절 걸어줘야 한다. -->
 		WHERE
 			`id` = #{id}
 	</select>
 	
 </mapper>